<div class="data-file-upload">
    <strong>[upload_label]</strong>
    <div class="data-file-name">
        <input class="hidden" type="file">
        <div class="file-name">点击选择文件</div>
    </div>
    <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">60%
        </div>
    </div>
    <button class="data-file-choose btn btn-success btn-sm pull-right" data-file-target="[upload_target]">开始上传</button>
</div>