h1 {
	font-size: 28px;
}

.c-gray {
	color: #9f9f9f;
}

.c-red {
	color: #c9302c;
}

.c-green {
	color: #449d44;
}

.c-orange {
	color: #ec971f;
}

label {
	margin-bottom: 10px;
}

label small {
	font-weight: 400;
}

.form-inline-block {
	display: inline-block;
	width: auto;
}

.m-r-15 {
	margin-right: 15px !important;
}

.m-b-10 {
	margin-bottom: 10px !important;
}

.m-b-25 {
	margin-bottom: 25px !important;
}


.table-bordered > thead > tr > th {
	border-bottom-width: 1px !important;
}

.page-header {
	padding-bottom: 20px;
}

.page-header h1 {
	margin: 0;
	display: inline-block;
	line-height: 34px;
}

.page-header .header-actions {
	float: right;
	display: inline-block;
}

.page-header .header-actions .btn {
	margin-right: 15px;
}

.page-header .header-actions .btn:last-child {
	margin-right: 0;
}

.page-footer {
	margin-top: 30px;
    text-align: center;
    padding: 30px;
    border-top: 1px solid #eee;
}

.panel-heading h3 {
	line-height: 30px;
	display: inline-block;
}

.panel-actions {
	float: right;
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 10px;
}

.panel-actions .btn {
	margin-right: 15px;
}

.panel-actions .btn:last-child {
	margin-right: 0;
}

.detail-info {
	margin-top: 40px;
}

.detail-item {
	margin: 15px 0;
}

.detail-item dt {
	margin-bottom: 10px;
}

.detail-item dd {
	padding-bottom: 5px;
	border-bottom: 1px solid #eee;
}

/*library styles*/

.sel-lib {
	margin-right: 15px;
}