<include file="Public/header"/>

    <div class="container">
        <div class="row detail-info">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3>测序信息：{$seq_info['title']}</h3>
                        <div class="panel-actions">
                            <a class="btn btn-sm btn-primary" href="__URL__/update/sid/{$seq_info['id']}" role="button"><span class="glyphicon glyphicon-pencil"></span> 编辑测序信息</a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-4 detail-item">
                            <dt>送样名称</dt>
                            <dd>{$seq_info['title']}</dd>
                        </div>

                        <div class="col-md-4 detail-item">
                            <dt>测序公司</dt>
                            <dd>{$seq_info['company']}</dd>
                        </div>

                        <div class="col-md-4 detail-item">
                            <dt>送样时间</dt>
                            <dd>{:time_format($seq_info['send_date'],"Y-m-d")}</dd>
                        </div>

                        <div class="col-md-4 detail-item">
                            <dt>备注信息</dt>
                            <dd>{$seq_info['comment']}</dd>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <include file="Seq/libs" />
            </div>
        </div>
    </div>
    
    <script src="__JS__/ie10-viewport-bug-workaround.js"></script>
    <script src="__JS__/seq.js"></script>
    </body>
</html>
