<h3 class="m-b-25">该批测序共包含 {$seq_info['lib_count']} 个文库 <a href="{:U('library/index', 'seq_id=' . intval($seq_info['id']))}" class="btn btn-sm btn-success pull-right"><span class="glyphicon glyphicon-plus"></span> 添加文库</a></h3>

<table id="datatable" class="table table-hover table-striped table-bordered " cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>送测文库</th>
            <th class="text-center">测序结果</th>
            <th class="text-center">测序数据</th>
            <th class="text-center">操作</th>
        </tr>
    </thead>
    <tbody>
        <foreach name="seq_results" item="obj">
            <tr>
                <td>
                    <a href="{:U('library/detail', 'sid=' . intval($obj['lib_id']))}">{$obj['library_info']['title']}</a>
                </td>
                <td class="text-center">
                    <?php if($obj['update_time'] > $obj['create_time']) { ?>
                        <a href="{:U('seqresult/detail', 'sid=' . intval($obj['id']))}">查看结果</a>
                    <?php } else { ?>
                        <span class="c-red">未添加</span> 
                    <?php } ?>
                     | <a href="{:U('seqresult/update', 'sid=' . intval($obj['id']) . '&return=' . CURRENT_URL)}">编辑</a>
                </td>
                <td class="text-center">
                    <?php if($obj['data_count'] > 0) { ?>
                        <a href="{:U('seqdata/index', 'rid=' . intval($obj['id']))}">查看数据({$obj['data_count']})</a>
                    <?php } else { ?>
                        <span class="c-red">无数据</span>
                    <?php } ?>
                     | <a href="{:U('seqdata/add', 'sid=' . intval($obj['id']) . '&return=' . CURRENT_URL)}">添加数据</a>
                </td>
                <td class="text-center">
                    <a class="remove-seqresult" href="{:U('seqresult/del', 'sid=' . intval($obj['id']) . '&return=' . CURRENT_URL)}">删除</a>
                </td>
            </tr>
        </foreach>
    </tbody>
</table>