<h3 class="m-b-25">
	测序报告 （共 {$seq_info['report_count']} 个文件）
	<form class="hidden" method='post' id="report-upload-form" action="{:U('seqreport/upload')}" enctype="multipart/form-data">
		<input id="report-upload" type='file' name='report'>
		<input type="hidden" name="seq_id" value="{$seq_info['id']}">
	</form>
	<?php if($editable) { ?>
		<a href="javascript:void(0);" class="btn btn-sm btn-success pull-right upload-report">
			<span class="glyphicon glyphicon-upload"></span> 上传报告
		</a>
	<?php } ?>
</h3>

<table id="datatable" class="table table-hover table-striped table-bordered " cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>文件名称</th>
            <th class="text-center">操作</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach($seq_info['seq_reports'] as $seq_report) { ?>
            <tr>
                <td>
                	{$seq_report['filename']}
                </td>
                
                <td class="text-center">
                	<a href="{:U('seqreport/download', 'id=' . intval($seq_report['id']))}">下载</a>
					<?php if($editable) { ?>
                	 | <a class="remove-seqreport" href="{:U('seqreport/del', 'sid=' . intval($seq_report['id']) . '&seq_id=' . intval($seq_info['id']))}">删除</a>
                	<?php } ?>
                </td>
            </tr>
        <?php } ?>
    </tbody>
</table>