<include file="Public/header"/>

    <div class="container">
        <div class="row detail-info">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3>样本信息：{$sample['name']}</h3>
                        <div class="panel-actions">
                            <a class="btn btn-sm btn-primary" href="__URL__/update/sid/{$sample['id']}" role="button">修改样本信息</a>
                            <a class="btn btn-sm btn-danger" href="__URL__/del/sid/{$sample['id']}" role="button">删除此样本</a> 
                        </div>
                    </div>
                    <div class="panel-body">
                        <dl>
                            <div class="detail-item col-md-4">
                                <dt>样本名称</dt><dd>{$sample['name']}</dd>
                            </div>
                            
                            <div class="detail-item col-md-4">
                                <dt>样本类型</dt><dd>{$sample['type']}</dd>
                            </div>

                            <div class="detail-item col-md-4">
                                <dt>样本描述</dt><dd>{$sample['description']}</dd>
                            </div>
                            
                            <div class="detail-item col-md-4">
                                <dt>样本来源</dt><dd>{$sample['source']}</dd>
                            </div>

                            <div class="detail-item col-md-4">
                                <dt>样本提取时间</dt><dd>{:time_format($sample['obtain_time'],"Y-m-d")}</dd>
                            </div>

                            <div class="detail-item col-md-4">
                                <dt>样本剩余量</dt><dd>{$sample['remain']}</dd>
                            </div>

                            <div class="detail-item col-md-4">
                                <dt>提取核酸类型</dt><dd>{$sample['nucleic_acid']}</dd>
                            </div>

                            <div class="detail-item col-md-4">
                                <dt>提取方法</dt><dd>{$sample['method']}</dd>
                            </div>

                            <div class="detail-item col-md-4">
                                <dt>样本浓度(Qubit2.0)</dt><dd>{$sample['concentration']}</dd>
                            </div>

                            <div class="detail-item col-md-4">
                                <dt>样本溶液量</dt><dd>{$sample['amount']}</dd>
                            </div>

                            <div class="detail-item col-md-4">
                                <dt>核酸质量</dt><dd>{$sample['mass']}</dd>
                            </div>

                            <div class="detail-item col-md-4">
                                <dt>已使用体积</dt><dd>{$sample['used_volume']}</dd>
                            </div>

                            <div class="detail-item col-md-4">
                                <dt>已使用质量</dt><dd>{$sample['used_mass']}</dd>
                            </div>

                            <div class="detail-item col-md-4">
                                <dt>剩余质量</dt><dd>{$sample['rest']}</dd>
                            </div>

                            <div class="detail-item col-md-4">
                                <dt>提取时间</dt><dd>{:time_format($sample['extraction_data'],"Y-m-d")}</dd>
                            </div>

                            <div class="detail-item col-md-4">
                                <dt>操作人员</dt><dd>{:get_nickname($sample['operator'])}</dd>
                            </div>

                            <div class="detail-item col-md-4">
                                <dt>创建时间</dt><dd>{:time_format($sample['create_time'],"Y-m-d")}</dd>
                            </div>

                            <div class="detail-item col-md-4">
                                <dt>更新时间</dt><dd>{:time_format($sample['update_time'],"Y-m-d")}</dd>
                            </div>

                            <div class="detail-item col-md-4">
                                <dt>备注</dt><dd>{$sample['comment']}</dd>
                            </div>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="__JS__/ie10-viewport-bug-workaround.js"></script>
    <script src="__JS__/bootstrap-datetimepicker.min.js"></script>
    </body>
</html>
