<include file="Public/header"/>

    <div class="container">
        <div class="row page-header">
            <div class="col-md-12">
                <h1>编辑样本信息</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form  method="post" action="__URL__/{$edit_action}">
                    <input type="hidden" name="sid" value="{$sample_info['id']}">
                        
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>样品名称：<small class="c-gray">请按照物种-组织-描述信息为格式填写，例如：Human-Liver-JohnCancerRelapseDay7</small></label>
                                        <input type="text" class="form-control" name="name" placeholder="样品名称" value="{$sample_info['name']}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>样品类型: <small class="c-gray">按照物种组织的格式填写，例如：人类肝脏</small></label>
                                        <input type="text" class="form-control" name="type" placeholder="(物种-组织)" value="{$sample_info['type']}">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>样品来源: </label>
                                        <input type="text" class="form-control" name="source" placeholder="样品来源" value="{$sample_info['source']}">
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>样品描述: </label>
                                        <input type="text" class="form-control" name="description" placeholder="样品描述" value="{$sample_info['description']}">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>提取时间：</label>
                                        <input size="19" type="text" readonly class="form-control timeer" name="obtain_time" placeholder="提取时间" value="{:time_format($sample_info['obtain_time'], 'Y-m-d')}">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>剩余样品量: </label>
                                        <input type="text" class="form-control" name="remain" placeholder="剩余样品量" value="{$sample_info['remain']}">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>核酸类型: </label>
                                        <input type="text" class="form-control" name="nucleic_acid" placeholder="DNA / RNA" value="{$sample_info['nucleic_acid']}">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>提取方法: </label>
                                        <input type="text" class="form-control" name="method" placeholder="提取方法" value="{$sample_info['method']}">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>核酸浓度：</label>
                                        <input type="text" class="form-control" name="concentration" placeholder="(ng/ul) by Qubit 2.0" value="{$sample_info['concentration']}">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>核酸总体积: </label>
                                        <input type="text" class="form-control" name="amount" placeholder="Amount Volume(uL)" value="{$sample_info['amount']}">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>核酸质量: </label>
                                        <input type="text" class="form-control" name="mass" placeholder="mass(ug)" value="{$sample_info['mass']}">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>使用体积：</label>
                                        <input type="text" class="form-control" name="used_volume" placeholder="used Volume(uL)" value="{$sample_info['used_volume']}">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>使用质量：</label>
                                        <input type="text" class="form-control" name="used_mass" placeholder="used(ug)" value="{$sample_info['used_mass']}">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>剩余质量: </label>
                                        <input type="text" class="form-control" name="rest" placeholder="rest DNA/RNA (ug)" value="{$sample_info['rest']}">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>核酸提取时间: </label>
                                        <input  type="text" readonly class="form-control timeer" name="extraction_date" placeholder="extraction date test time（gel/2100)" value="{:time_format($sample_info['extraction_date'], 'Y-m-d')}">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label> 备 注:  </label>
                                        <textarea class="form-control" name="comment" placeholder="样品备注信息">{$sample_info['comment']}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                         <div class="col-md-4">
                             <button type="submit" class="btn btn-primary">提交样本</button>
                         </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <include file="Public/pageFooter" />
    
    <script src="__JS__/ie10-viewport-bug-workaround.js"></script>
    <script src="__JS__/bootstrap-datetimepicker.min.js"></script>
    <script src="__JS__/time-format.js"></script>
    </body>
</html>
