<include file="Public/header"/>
        <div class="container">
            <div class="row page-header">
                <div class="col-md-12">
                    <h1>样本列表</h1>
                    
                    <div class="header-actions">
                        <a class="btn btn-primary" href="__URL__/add" role="button">创建样本</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">

                    <table id="datatable" class="table table-hover table-striped table-bordered " cellspacing="0" width="100%">
                        <thead>
                            <th>样品</th>
                            <th>类型</th>
                            <th>来源</th>
                            <th>描述</th>
                            <th>核酸类型</th>
                            <th>操作人员</th>
                            <th>操作</th></tr>
                        </thead>
                        
                        <tbody>
                            <foreach name="sample" item="obj">
                                <tr>
                                    <td><a href="__URL__/detail/sid/{$obj.id}"> {$obj['name']}</a></td>
                                    <td>{$obj['type']}</td>
                                    <td>{$obj['source']}</td>
                                    <td>{$obj['description']}</td>
                                    <td>{$obj['nucleic_acid']}</td>
                                    <td>{:get_nickname($obj['operator'])}</td>
                                    <td><a href="__URL__/update/sid/{$obj.id}">修改</a> | <a href="__URL__/del/sid/{$obj.id}">删除</a> | <a href="{:U('Library/add?sample_id=' . intval($obj['id']))}">创建文库</a></eq></td>
                                </tr>
                            </foreach>
                        </tbody>

                    </table>

                </div>
            </div>
        </div>
        
        <include file="Public/pageFooter" />

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="__JS__/ie10-viewport-bug-workaround.js"></script>
        <script type="text/javascript" language="javascript" class="init">
            $(document).ready(function() {
                $('#datatable').DataTable({"order":[[0,"desc"]],
            });
            } );
        </script>
    </body>
</html>
