<include file="Public/header"/>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron home-jumbotron">
      <div class="container">
        <h1>SeqDB</h1>
        <p>二代测序实验流程管理解决方案。轻松管理测序流程中的样品、文库、送样、数据等各种信息。</p>
      </div>
    </div>
    
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-3">
          <div class="stats-item">
            <div class="stats-item-header bgm-red">
                <h2>样本管理</h2>
                <p>管理样本基本信息</p>
            </div>
            <div class="stats-item-body">
                <div class="chart" data-bar-color="#f44336" data-percent="100">
                        <div class="count-item">
                            <div class="count">{$sample_count}</div>
                            <div class="title">个样本</div>
                        </div>
                    </div>
            </div>
            <div class="stats-item-footer">
                <p><a class="btn btn-default btn-lg" href="{:U('Sample/index')}" role="button">管理样本</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
            <div class="stats-item">
                <div class="stats-item-header bgm-green">
                    <h2>文库管理</h2>
                    <p>管理建库信息</p>
                </div>
                <div class="stats-item-body">
                    <div class="chart" data-bar-color="#4CAF50" data-percent="100">
                        <div class="count-item">
                            <div class="count">{$library_count}</div>
                            <div class="title">个文库</div>
                        </div>
                    </div>
                </div>
                <div class="stats-item-footer">
                    <p><a class="btn btn-default btn-lg" href="{:U('Library/index')}" role="button">管理文库</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="stats-item">
                <div class="stats-item-header bgm-blue">
                    <h2>测序管理</h2>
                    <p>管理和追踪测序送样流程及结果</p>
                </div>
                <div class="stats-item-body">
                    <div class="chart" data-bar-color="#2196F3" data-percent="100">
                        <div class="count-item">
                            <div class="count">{$seq_count}</div>
                            <div class="title">次测序</div>
                        </div>
                    </div>
                </div>
                <div class="stats-item-footer">
                    <p><a class="btn btn-default btn-lg" href="{:U('Seq/index')}" role="button">测序送测</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="stats-item">
                <div class="stats-item-header bgm-orange">
                    <h2>数据管理</h2>
                    <p>管理测序数据</p>
                </div>
                <div class="stats-item-body">
                    <div class="chart" data-bar-color="#FF9800" data-percent="100">
                        <div class="count-item">
                            <div class="count">{$seqdata_count}</div>
                            <div class="title">条数据</div>
                        </div>
                    </div>
                </div>
                <div class="stats-item-footer">
                    <p><a class="btn btn-default btn-lg" href="{:U('SeqData/index')}" role="button">数据下载</a></p>
                </div>
            </div>
        </div>
      </div>
    </div>
    
    <include file="Public/pageFooter" />
    <script src="__JS__/ie10-viewport-bug-workaround.js"></script>

    <script type="text/javascript">
        $(function() {
            $('.chart').easyPieChart({
                'size': 150,
                'barColor': $(this).attr('data-bar-color')
            });
        });
    </script>
  </body>
</html>
